<div class="main-container random-lines">
  <mat-card class="log-in-card">
    <mat-card-header>
      <mat-card-title>Welcome to {{ appName }} {{ appVersion }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ userImageUrl }}"
      style="width: 80px; height: 80px; margin: auto"
    />
    <mat-card-content>
      <div style="display: flex; flex-direction: column; margin-top: 10px">
        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input
            matInput
            [(ngModel)]="userName"
            type="text"
            placeholder="Type user name"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>User Password</mat-label>
          <input
            [(ngModel)]="password"
            matInput
            type="password"
            placeholder="Type user password"
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-slide-toggle [checked]="isAdmin" (change)="setAdminStatus($event)"
      >I'm admin</mat-slide-toggle
    >
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="logInUser()">
        <mat-icon>check</mat-icon> Log in
      </button>
      <link href="./" textContent="Forgot password?" />
    </mat-card-actions>
  </mat-card>
</div>
